@import "./components/icons";
@import "./components/welcome";
@import "./components/movie-catalog";
@import "./components/prices";

* {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body,
nav {
  background-color: $dark;
}

header {
  .logo {
    max-width: 100px;
  }

  .btn {
    padding: 0.7rem 1.25rem;
  }
}

nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.font-sm {
  color: #c1c3ba;
  font-size: 0.75rem;
  line-height: 1.5;
  max-width: 640px;

  a {
    color: #3e8be9;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn {
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 1rem 1.5rem;
  text-transform: uppercase;

  &--blue {
    background-color: $accent;

    &:hover {
      background-color: darken($accent, 10%);
      transform: scale(1.05);
    }
  }

  &--transparent {
    background-color: transparent;
    padding: 0.7rem 1.25rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &--round {
    border-radius: 30rem;
  }
}

.self-center {
  align-self: center;
}

.line {
  border-bottom: 1px solid #c4c5c2;
  display: block;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.w-100 {
  width: 100%;
}
